<h1>Liste des restaurants </h1>


<ul>
<% @restaurants.each do |restaurant| %>
<li><p><%= restaurant.name %>, nb de revue: <%= restaurant.reviews.size %></p><p><%=  restaurant.address %></p>
  <%= link_to 'add one review', new_restaurant_review_path(restaurant), class: "btn btn-primary"  %>
  <%= link_to 'see all reviews', restaurant_reviews_path(restaurant), class: "btn btn-primary"  %>
  <%= link_to 'see restaurant details', restaurant_path(restaurant), class: "btn btn-primary" %>
</li>
<% end %>
</ul>
<%= link_to 'add a restaurant', new_restaurant_path, class: "btn btn-primary"  %>
