
<ul>
<%= @restaurant.attributes.each do |attr_name, attr_value| %>
<li><strong><%= attr_name %>:</strong> <%= attr_value %>   </li>
<% end %>
<%= link_to 'show review',restaurant_reviews_path(@restaurant)  %>
</ul>
<%= link_to 'go back to all restaurants',restaurants_path  %>
